@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?qjzcz3');
  src:  url('fonts/icomoon.eot?qjzcz3#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?qjzcz3') format('truetype'),
    url('fonts/icomoon.woff?qjzcz3') format('woff'),
    url('fonts/icomoon.svg?qjzcz3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ei-archive:before {
  content: "\e900";
}
.icon-ei-arrow-down:before {
  content: "\e901";
}
.icon-ei-arrow-left:before {
  content: "\e902";
}
.icon-ei-arrow-right:before {
  content: "\e903";
}
.icon-ei-arrow-up:before {
  content: "\e904";
}
.icon-ei-bell:before {
  content: "\e905";
}
.icon-ei-calendar:before {
  content: "\e906";
}
.icon-ei-camera:before {
  content: "\e907";
}
.icon-ei-cart:before {
  content: "\e908";
}
.icon-ei-chart:before {
  content: "\e909";
}
.icon-ei-check:before {
  content: "\e90a";
}
.icon-ei-chevron-down:before {
  content: "\e90b";
}
.icon-ei-chevron-left:before {
  content: "\e90c";
}
.icon-ei-chevron-right:before {
  content: "\e90d";
}
.icon-ei-chevron-up:before {
  content: "\e90e";
}
.icon-ei-clock:before {
  content: "\e90f";
}
.icon-ei-close-o:before {
  content: "\e910";
}
.icon-ei-close:before {
  content: "\e911";
}
.icon-ei-comment:before {
  content: "\e912";
}
.icon-ei-credit-card:before {
  content: "\e913";
}
.icon-ei-envelope .path1:before {
  content: "\e914";
  color: rgb(0, 0, 0);
  opacity: 0.9;
}
.icon-ei-envelope .path2:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.9;
}
.icon-ei-envelope .path3:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-ei-envelope .path4:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-ei-exclamation:before {
  content: "\e918";
}
.icon-ei-external-link:before {
  content: "\e919";
}
.icon-ei-eye:before {
  content: "\e91a";
}
.icon-ei-gear:before {
  content: "\e91b";
}
.icon-ei-heart:before {
  content: "\e91c";
}
.icon-ei-image:before {
  content: "\e91d";
}
.icon-ei-like:before {
  content: "\e91e";
}
.icon-ei-link:before {
  content: "\e91f";
}
.icon-ei-location:before {
  content: "\e920";
}
.icon-ei-lock:before {
  content: "\e921";
}
.icon-ei-minus:before {
  content: "\e922";
}
.icon-ei-navicon:before {
  content: "\e923";
}
.icon-ei-paperclip:before {
  content: "\e924";
}
.icon-ei-pencil:before {
  content: "\e925";
}
.icon-ei-play:before {
  content: "\e926";
}
.icon-ei-plus:before {
  content: "\e927";
}
.icon-ei-pointer:before {
  content: "\e928";
}
.icon-ei-question:before {
  content: "\e929";
}
.icon-ei-redo:before {
  content: "\e92a";
}
.icon-ei-refresh:before {
  content: "\e92b";
}
.icon-ei-retweet:before {
  content: "\e92c";
}
.icon-ei-sc-facebook:before {
  content: "\e92d";
}
.icon-ei-sc-github:before {
  content: "\e92e";
}
.icon-ei-sc-google-plus:before {
  content: "\e92f";
}
.icon-ei-sc-instagram:before {
  content: "\e930";
}
.icon-ei-sc-linkedin:before {
  content: "\e931";
}
.icon-ei-sc-odnoklassniki:before {
  content: "\e932";
}
.icon-ei-sc-pinterest:before {
  content: "\e933";
}
.icon-ei-sc-skype:before {
  content: "\e934";
}
.icon-ei-sc-soundcloud:before {
  content: "\e935";
}
.icon-ei-sc-telegram:before {
  content: "\e936";
}
.icon-ei-sc-tumblr:before {
  content: "\e937";
}
.icon-ei-sc-twitter:before {
  content: "\e938";
}
.icon-ei-sc-vimeo:before {
  content: "\e939";
}
.icon-ei-sc-vk:before {
  content: "\e93a";
}
.icon-ei-sc-youtube:before {
  content: "\e93b";
}
.icon-ei-search:before {
  content: "\e93c";
}
.icon-ei-share-apple:before {
  content: "\e93d";
}
.icon-ei-share-google:before {
  content: "\e93e";
}
.icon-ei-spinner-2 .path1:before {
  content: "\e93f";
  color: rgb(0, 0, 0);
}
.icon-ei-spinner-2 .path2:before {
  content: "\e940";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.3;
}
.icon-ei-spinner-2 .path3:before {
  content: "\e941";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.3;
}
.icon-ei-spinner-2 .path4:before {
  content: "\e942";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.3;
}
.icon-ei-spinner-2 .path5:before {
  content: "\e943";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.93;
}
.icon-ei-spinner-2 .path6:before {
  content: "\e944";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.3;
}
.icon-ei-spinner-2 .path7:before {
  content: "\e945";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.65;
}
.icon-ei-spinner-2 .path8:before {
  content: "\e946";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.3;
}
.icon-ei-spinner-2 .path9:before {
  content: "\e947";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.86;
}
.icon-ei-spinner-2 .path10:before {
  content: "\e948";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.3;
}
.icon-ei-spinner-2 .path11:before {
  content: "\e949";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.44;
}
.icon-ei-spinner-2 .path12:before {
  content: "\e94a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.3;
}
.icon-ei-spinner-3:before {
  content: "\e94b";
}
.icon-ei-spinner .path1:before {
  content: "\e94c";
  color: rgb(0, 0, 0);
}
.icon-ei-spinner .path2:before {
  content: "\e94d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.3;
}
.icon-ei-spinner .path3:before {
  content: "\e94e";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.3;
}
.icon-ei-spinner .path4:before {
  content: "\e94f";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.3;
}
.icon-ei-spinner .path5:before {
  content: "\e950";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.93;
}
.icon-ei-spinner .path6:before {
  content: "\e951";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.3;
}
.icon-ei-spinner .path7:before {
  content: "\e952";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.65;
}
.icon-ei-spinner .path8:before {
  content: "\e953";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.3;
}
.icon-ei-spinner .path9:before {
  content: "\e954";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.86;
}
.icon-ei-spinner .path10:before {
  content: "\e955";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.3;
}
.icon-ei-spinner .path11:before {
  content: "\e956";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.44;
}
.icon-ei-spinner .path12:before {
  content: "\e957";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.3;
}
.icon-ei-star:before {
  content: "\e958";
}
.icon-ei-tag:before {
  content: "\e959";
}
.icon-ei-trash:before {
  content: "\e95a";
}
.icon-ei-trophy:before {
  content: "\e95b";
}
.icon-ei-undo:before {
  content: "\e95c";
}
.icon-ei-unlock:before {
  content: "\e95d";
}
.icon-ei-user:before {
  content: "\e95e";
}
